{% extends "base.html" %}
{% block content %}

<div class="jumbotron text-center">
    <h1>Going to a new place?</h1>
</div>



<form action="{{ url_for('set')}}" method="post" name="set">
    <div class="form-group">
        <div class="col-sm-2"> <!-- This gives the label the same left margin as the input text box -->
            <label class="control-label text-white" for="location"><strong>Location</strong></label>
        </div>
        <div class="col-sm-12">
            <input class="form-control" id="location" name="location" placeholder="a new place" type="text" value="">
        </div>
    </div>


    <input class="btn btn-primary" type="submit" value="Set Location">
</form>




{% endblock %}

